<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">FitnessAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-relative" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ranking">Ranking</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="/goals">
                        Goals
                    </a>
                </li>


                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Analytics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/analytics/Steps">Steps</a></li>
                        <li><a class="dropdown-item" href="/analytics/Sleep">Sleep</a></li>
                        <li><a class="dropdown-item" href="/analytics/HeartRate">Heart Rate</a></li>
                    </ul>
                </li>

                <li>
                    <a class="btn btn-outline-dark position-absolute  bottom-0 end-0" id="logoutButton" href="/logout" role="button"
                       style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px"  alt="Google sign-in"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        <span id ="googleLogOut">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>