<% layout('boilerplate/template') -%>

<!-- display a nice error message that keeps the template intact just displaying a bootstrap message -->

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p>
                <!-- output stack trace for development purposes -->
                <%=err.stack%>;
            </p>
        </div>
    </div>
</div>
