<% layout('boilerplate/template') -%>

<div id = "contactsDiv">
    <h2 class="center"> <strong> Contacts </strong></h2>
    <br>
    Send us an Email: <a href= "mailto:fitnessapp.bath@gmail.com">fitnessapp.bath@gmail.com</a>
</div>